@use "../abstracts/functions" as *;
@use "../abstracts/colours" as *;

.log-in {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    height: 100vh;
  }

  main {
    background-color: $color-secondary-700;
    flex: 1;
    display: grid;
    place-content: center;
    color: $color-secondary-100;
  }

  .logo {
    position: fixed;
    top: 0;
    margin: var(--space-md);
    color: $color-secondary-200;
  }

  a {
    --link-color: $color-neutral-200;
    color: var(--link-color);
    padding-block-end: 5px;
    transition: all ease 0.3s;
    &:hover,
    &:focus {
      color: $color-accent-100;
      border-bottom: 1px solid $color-accent-100;
    }
  }

  aside {
    width: 50%;
    background-image: url("../images/cliff-view.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      display: block;
      margin-block-end: 4px;
    }
    label[for="id_remember"] {
      display: inline-block;
      margin: 0;
    }
    input {
      margin-block-start: 0.2rem;
      margin-block-end: var(--space-md);
      background-color: $color-secondary-700 !important;
      color: $color-secondary-200;
      caret-color: $color-secondary-200;
      &:focus {
        outline: $color-primary-400;
        box-shadow: 30px 8px 35px -5px $color-primary-500,
          -30px -8px 35px -5px $color-primary-500;
      }
    }
    input[type="text"],
    input[type="password"],
    textarea {
      background-color: $color-secondary-700 !important;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    textarea:focus {
      background-color: $color-secondary-700 !important;
    }

    input[type="text"]:active,
    input[type="password"]:active,
    textarea:active {
      background-color: $color-secondary-700 !important;
    }
  }

  .log-in--wrapper {
    padding-inline: 6rem;
    transform: translateY(-2%);
    h2 {
      color: $color-secondary-100;
    }
    .btn {
      margin-block-start: var(--space-sm);

      align-self: flex-start;
      font-weight: 600;
    }
    .btn--outline {
      &:hover,
      &:focus {
        color: $color-secondary-700;
      }
    }
  }
  ul {
    padding: 0;
    margin-top: 0;
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: $space-md;
}
