@use "sass:color";
@use "../abstracts" as *;
.home-page {
  background-color: $color-secondary-100;
  h2,
  h3 {
    text-align: center;
  }
}

.hero {
  background: linear-gradient(
      to right,
      $color-primary-trans-800,
      $color-primary-trans-800
    ),
    url("../images/coastal-path.jpg") no-repeat center center;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-neutral-200;
  text-align: center;
  & h1 {
    color: $color-neutral-200;
  }

  & p {
    font-size: $fs-md;
    max-width: 40ch;
    padding: var(--space-md);
    margin-inline: auto;
    line-height: 1.7;
  }
}

.stats-section {
  color: $color-secondary-500;
  &--wrapper {
    @include grid-columns;
  }

  & h3 {
    color: $color-secondary-700;
    margin-block-end: $space-md;
  }

  &--stat {
    text-align: center;
    position: relative;
    & p {
      letter-spacing: 2.2px;
      text-transform: uppercase;
    }

    & span {
      font-family: $ff-accent;
      font-size: $fs-lg;
      display: block;
    }

    &:not(:first-child)::after {
      content: "";
      display: block;
      height: 70%;
      width: 1px;
      background-color: $color-secondary-500;
      position: absolute;
      top: 0;
      transform: translateY(20%);
    }
  }
}

.featured-walks {
  &--grid {
    @include grid-columns(350px, $space-xl);
  }

  &--walk {
    border-radius: $border-radius;
    border: 1px solid $color-neutral-200;
    overflow: hidden;
    display: grid;
    // grid-template-rows: fit-content fit-content;
    img {
      object-fit: cover;
      aspect-ratio: 3/2;
    }
  }

  &--content {
    padding-inline: $space-md;
    padding-block: $space-xl;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $space-sm;
  }
}
