@use "../abstracts/colours" as *;

.main-nav {
  // background-color: $color-primary-100;
  justify-content: space-between;
  align-items: center;
  padding-inline: $space-md;
  border-block-end: 1px solid $color-secondary-500;
}

.nav-item {
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: $color-primary-300;
  font-size: var(--fs-sm);
}
