.saved-routes {
  background-color: $color-neutral-100;
  padding-block: $section-padding-block;
  text-align: center;

  table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      padding-block: $space-xl;
      padding-inline: $space-sm;
      border-bottom: 1px solid $color-primary-400;
      white-space: nowrap;
    }
    th {
      color: $color-primary-500;
      font-family: $ff-accent;
      font-size: $fs-md;
    }

    i {
      padding-inline: 0.5rem;
    }
  }
  .no-routes {
    text-align: center;
    font-family: $ff-accent;
    font-size: $fs-md;
    background-color: $color-secondary-600;
    color: $color-neutral-200;
    border-radius: $border-radius;
    padding: $space-md;
    display: inline;

    a {
      color: $color-neutral-100;
      &:hover {
        color: $color-primary-200;
      }
    }
  }
}

.icon-cell {
  text-align: center;
}

.table-wrapper {
  overflow-x: auto;
}

.route {
  &-tooltip {
    color: $color-primary-400;
    &:hover,
    &:focus {
      color: $color-secondary-500;
    }
  }
  &-view {
    anchor-name: --view-route;
    &:hover .tooltip--view {
      display: block;
      opacity: 1;
    }
  }
  &-delete {
    anchor-name: --delete-route;
    &:hover .tooltip--delete {
      display: block;
      opacity: 1;
    }
  }
  &-edit {
    anchor-name: --edit-route;
    &:hover .tooltip--edit {
      display: block;
      opacity: 1;
    }
  }
}
.tooltip {
  background-color: $color-secondary-600;
  color: $color-neutral-100;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  top: anchor(left);
  justify-self: anchor-center;
  margin-left: 10px;
  position: absolute;
  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;

  &--view {
    position-anchor: --view-route;
  }
  &--delete {
    position-anchor: --delete-route;
  }
  &--edit {
    position-anchor: --edit-route;
  }
}
