<!--prettier-ignore-->

{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>{% trans "Sign Out" %}</h3>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn btn-signup right" type="submit">
          {% trans 'Sign Out' %}
        </button>
      </form>
    </div>
  </div>
</div>
<main>
  <a href="/home" aria-label="click to return to home page">
    <img class="logo" width="40px" src="/images/sp-logo.png" alt="logo" />
  </a>

  <div class="log-in--wrapper">
    <h2 class="mb-md">Welcome Back</h2>
    <p class="mb-sm">
      Sign in to continue. Don't have an account?
      <a href="sign-up.html" class="sign-up-button">Create one here</a>
    </p>
    <form>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
      <button type="submit" class="btn">Log in</button>
    </form>
  </div>
</main>
<aside></aside>
{% endblock %}
