<!--prettier-ignore-->
{% extends 'base.html' %} 

{% block content %}
<main>
  <section class="section walks">
    <h1 class="walks--heading mb-xxxl">Coastal Path Walks</h1>
    <div class="walks--grid container container-wide">
      <!-- Loop through the featured walks -->
      {% for walk in walks %}
      <div class="walks--walk">
        <div class="walks--img">
          <img src="{{ walk.featured_img.url }}" alt="{{ walk.title }}" />
        </div>
        <div class="walks--info">
          <p>{{ walk.distance }} miles</p>
          <p>|</p>
          <p>{{ walk.difficulty }}</p>
        </div>
        <div class="walks--content">
          <h3>{{ walk.title }}</h3>
          <p>{{ walk.content_excerpt }}</p>
          <a
            class="link-underline link-underline--secondary"
            href="{% url 'walk_detail' walk.slug %}"
            >View Walk</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
