{% extends 'base.html' %} {% block content %}

<main class="walk-detail">
  <div class="container container-narrow">
    <h1 class="post-title">{{ walk.title }}</h1>
    <div class="walk-detail--img">
      <img
        loading="lazy"
        src="{{ walk.featured_img.url }}"
        alt="{{walk.title}}"
      />
    </div>
    <div class="stats-wrapper">
      <p>{{ walk.distance }} miles</p>
      <p>|</p>
      <p>{{ walk.difficulty }}</p>
    </div>
    <p class="card-text">{{ walk.content }}</p>
  </div>
</main>
{% endblock content %}
