@use "../abstracts/colours" as *;

body {
  height: 100vh;
}
.main-map {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr;
}

.stats {
  background-color: white;
}

#map {
  height: 100%;
  width: 100%;
}
