@use "../abstracts/colours" as *;

.main-nav {
  background-color: $color-primary-100;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  --nav-link-color: clr(primary, light);
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: var(--nav-link-color);
  font-size: var(--fs-sm);
}
