<!--prettier-ignore-->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}Map{% endblock %} 
{% block extra_head %}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css"
/>
<!--prettier-ignore-->
{% endblock %} 
{% block content %} 
{% load crispy_forms_tags %}

<main class="main-map">
  <div class="stats scroller">

    <h2 class="mb-lg">{% if route %}Edit{% else %}Create{% endif %} Route</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <details open>
        <summary>Start and End Points</summary>
        <!--prettier-ignore-->
        {{ form.start_point|as_crispy_field }} {{ form.end_point|as_crispy_field }}
      <div class="distance-wrapper flex mt-md">
        <p class="distance" id="distance">Distance: <span></span></p>
        <p class="Elevation" id="Elevation">Elevation: <span></span></p>
      </div>
      </details>
      <details>
        <summary>Other Details</summary>
        <!--prettier-ignore-->
        {{ form.title|as_crispy_field }} 
        {{ form.date|as_crispy_field }} 
        {{form.time_taken|as_crispy_field }} 
        {{ form.route_img|as_crispy_field }}
        {{ form.comments|as_crispy_field }}
      </details>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if route %}
    <a href="{% url 'route_detail' route.pk %}">Cancel</a>
    {% endif %}
  </div>
  <div id="map">    <button id="toggle-polylines">Toggle Polylines</button></div>
</main>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder@1.13.0/dist/Control.Geocoder.js"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
