<!--prettier-ignore-->
{% extends "base.html" %} 
{% block head_title %}Saved Routes{% endblock %} 
{% load static %}
{% block extra_head %}{% endblock %}
{% block content %}

<main class="saved-routes">

  <div class="container container-wide">

  {% if routes %}
    <h2 class="mb-lg">Saved Routes</h2>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
  <div class="table-wrapper">
    <table>
      <thead>
          <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Time Taken</th>
          <th>Distance</th>
          <th>Elevation</th>
          <th>Comments</th>
        
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for route in routes %}
      <tr>
        <td>{{ route.title }}</td>
        <td>{{ route.date }}</td>
        <td>{{ route.time_taken }} hrs</td>
        <td>{{ route.distance }}</td>
        <td>{{ route.elevation }}</td>
        <td>{{ route.comments }}</td>
        
        <td class="icon-cell">
         
              
          <a class="route-tooltip route-view" href="/route/{{ route.id }}" aria-label="click to view route">
            <i class="fa fa-eye"></i>
            <div class="tooltip tooltip--view">
              <p>View Route</p>
            </div>
          </a>
              
         
          <a class="route-tooltip route-edit" href="{% url 'route_edit' route.pk %}" aria-label="click to edit route">
            <i class="fa fa-edit"></i>
            <div class="tooltip tooltip--edit">
              <p>Edit Route</p>
            </div>
          </a>
             
              
          <a class="route-tooltip route-delete" href="#delete-modal" aria-label="click to delete route">
            <i class="fa fa-trash"></i>
            <div class="tooltip tooltip--delete">
              <p>Delete Route</p>
            </div>
          </a>
          
          
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
{% else %}
<p class = "no-routes">
  You have no saved routes.
  <a href="{% url 'route_create' %}"> Click here to add one.</a>
</p>
{% endif %} {% for route in routes %}
</main>
<div id="delete-modal" class="modal">
  <div class="modal-content">
    <header>
      <h2>Delete Route?</h2>
      <a href="#" class="closebtn"><i class="fa fa-times"></i></a>
    </header>

    <p>
      Are you sure you want to delete this route? This action can't be undone.
    </p>

    <footer>
      <form method="post" action="{% url 'route_delete' route.pk %}">
        {% csrf_token %}
        <div class="button-wrapper">
        <button type="submit" class="btn ">Delete</button>
        <a href="#" class="btn btn--outline ">Cancel</a></div>
      </form>
    </footer>
  </div>
</div>
</div>

</main>
<!--prettier-ignore-->
{% endfor %} 
{% endblock %}
