<!--prettier-ignore-->
{% extends "base.html" %} 
{% block head_title %}Saved Routes{% endblock %} 
{% block content %}
<h2>Saved Routes</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Point</th>
      <th>End Point</th>
      <th>Date</th>
      <th>Time Taken</th>
      <th>Distance</th>
      <th>Elevation</th>
      <th>Comments</th>
      <th></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for route in routes %}
    <tr>
      <td>{{ route.title }}</td>
      <td>{{ route.start_point }}</td>
      <td>{{ route.end_point }}</td>
      <td>{{ route.date }}</td>
      <td>{{ route.time_taken }}</td>
      <td>{{ route.distance }}</td>
      <td>{{ route.elevation }}</td>
      <td>{{ route.comments }}</td>
      <td><a href="/route/{{ route.id }}">View</a></td>
      <td>
        <!-- <button onclick="editRoute({{ route.id }})">Edit</button>
        <button onclick="deleteRoute({{ route.id }})">Delete</button> -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
