@use "../abstracts" as *;

body {
  font-family: $ff-base;
  font-size: $fs-base;
  line-height: 1.5;
  font-weight: $fw-default;
  // $body-text-color: $color-text-default;
  // $body-background-color: $color-background-default;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $ff-accent;
}

// a {
//   color: $link-color;
// }
// a:is(:hover, :focus) {
//   color: $link-color-hover;
// }
// a:visited {
//   color: $link-color-visited;
// }

.section {
  padding-block: $section-padding-block;
}
