input {
  --input-border-color: $color-primary-400;
  border: 1px solid var(--input-border-color);
  border-radius: $border-radius;
  padding: 0.5rem;
  transition: all 0.3s ease;
  background-color: $color-secondary-700 !important;

  &:focus {
    outline: none;
    box-shadow: 30px 8px 35px -5px $color-primary-500,
      -30px -8px 35px -5px $color-primary-500;
  }
}

label {
  margin-block-end: 4px;
  font-size: 12px;
}
