$-ff-sans: "Lato", sans-serif;
$-ff-serif: "Forum", serif;

$ff-base: $-ff-sans;
$ff-accent: $-ff-serif;

$font-sizes: (
  xxl: clamp(2.5rem, 3rem, 5rem),
  xl: clamp(2rem, 2.5rem, 4rem),
  lg: clamp(1.5rem, 2rem, 3rem),
  md: clamp(1rem, 1.5rem, 2rem),
  base: clamp(0.75rem, 1rem, 1.5rem),
  sm: clamp(0.5rem, 0.75rem, 1rem),
  xs: clamp(0.25rem, 0.5rem, 0.75rem),
);

$-fw-400: 400;
$-fw-300: 300;

$fw-default: $-fw-400;
$fw-light: $-fw-300;

$fs-xxl: var(--fs-xxl);
$fs-xl: var(--fs-xl);
$fs-lg: var(--fs-lg);
$fs-md: var(--fs-md);
$fs-base: var(--fs-base);
$fs-sm: var(--fs-sm);
$fs-xs: var(--fs-xs);
