@use "colours" as *;
@use "typography" as *;
@use "sizes" as *;

//layout
$grid-gap: $space-md;
$flex-group-gap: $space-sm;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(3rem, 10vh, 7rem);
$card-body-padding: clamp(2rem, 3.5vw, 5rem);

$container-inline-margin: $space-sm;
$container-max-width: 60rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

/* contextual colours */

$color-text-default: $color-secondary-800;
$color-background-default: $color-primary-100;
$color-text-interactive-default: $color-primary-500;
$color-text-interactive-hover: $color-accent-400;
$color-text-interactive-visited: $color-accent-400;

/* general */
$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;
$link-color-visited: $color-text-interactive-visited;

$border-radius: 5px;
$border-radius-lg: 1.2rem;

/* body */
$body-font-family: $ff-base;
$body-font-size: $fs-base;
$body-line-height: 1.5;
$body-font-weight: $fw-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

/*buttons */
// $button-font-family: $body-font-family;
// $button-font-size: $font-size-600;
// $button-font-weight: $font-weight-bold;
// $button-border: 0;
// $button-border-radius: $border-radius;

$border-primary: 1px solid $color-primary-500;
