<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %}Walk South West{% endblock %}</title>

    <!--prettier-ignore-->

    {% load compress %} 
    {% load static %} 
    {% compress css %}

    {% url 'walks' as walks_url %}
    {% url 'home' as home_url %}
    {% url 'my_walks' as my-walks_url %}

    {% url 'account_login' as login_url %}
    {% url 'account_signup' as signup_url %}
    {% url 'account_logout' as logout_url %}

    <link
      type="text/x-scss"
      href="{% static 'scss/styles.scss' %}"
      rel="stylesheet"
    />
    {% endcompress %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <nav class="main-nav flex">
      <a class="logo" href="{% url 'home' %}">WSW</a>
      <ul class="nav__list flex">
        <li class="nav-item">
          <a
            href="{% url 'walks' %}"
            class="nav__link {% if request.path == walks_url %}active{% endif %}"
            >Walks</a
          >
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a
            href="{% url 'route_create' %}"
            class="nav-link {% if request.path == route_create_url %}active{% endif %}"
            >Add Route</a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url 'my_walks' %}"
            class="nav-link {% if request.path == my_walks_url %}active{% endif %}"
            >My Walks</a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url 'routes_map' %}"
            class="nav-link {% if request.path == routes_map %}active{% endif %}"
            >Map</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link {% if request.path == logout_url %}active{% endif %}"
            aria-current="page"
            href="{% url 'account_logout' %}"
            >Logout</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == signup_url %}active{% endif %}"
            aria-current="page"
            href="{% url 'account_signup' %}"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == login_url %}active{% endif %}"
            aria-current="page"
            href="{% url 'account_login' %}"
            >Login</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
