<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'icons/favicon-32x32.png' %}"
      type="image/x-icon"
    />
    <title>Walk South West</title>
    <!--prettier-ignore-->

    {% load compress %} 
    
    {% compress css %}
   
    {% load i18n %}
    {% load account socialaccount %}
    {% url 'home' as home_url %}
    {% url 'account_login' as login_url %}
    {% url 'account_signup' as signup_url %}
    {% url 'account_logout' as logout_url %}
    <link
      type="text/x-scss"
      href="{% static 'scss/styles.scss' %}"
      rel="stylesheet"
    />
    {% endcompress %}
  </head>
  <body class="log-in">
    <main>
      <a
        href="{{ home_url }}"
        aria-label="click to return to home page"
        class="logo"
      >
        WSW
      </a>

      <div class="log-in--wrapper">{% block content %} {% endblock %}</div>
    </main>
    <aside></aside>
  </body>
</html>
