{% extends 'base.html' %} {% block content %}
<header class="hero">
  <h1>Walk South West</h1>
  <p>
    Explore the South West Coast Path your way. Perfect for weekend wanderers
    and day-trippers, track your progress as you gradually discover all 630
    miles of Britain's most breathtaking coastal trail. Every mile is an
    achievement worth celebrating.
  </p>
  {% if user.is_authenticated%}
  <div class="button-wrapper">
    <a href="{% url 'my_walks' %}" class="btn">My Walks</a>
    <a href="{% url 'route_create' %}" class="btn btn--outline">Add Route</a>
  </div>
  {% else %}
  <div class="button-wrapper">
    <a href="{% url 'account_login' %}" class="btn">Log In</a>
    <a href="{% url 'account_signup' %}" class="btn btn--outline">Sign Up</a>
  </div>
  {% endif %}
</header>
<main class="home-page">
  <section class="section" id="stats-section">
    <div class="container stats-section">
      {% if user.is_authenticated %}
      <h2 class="stats-section--heading">Welcome Back {{user}}</h2>
      <p class="stats-section--intro">
       You have <span>{{distance_left}} </span>miles left to walk 
      </p>
      {% endif %}
      {% if user.is_authenticated and total_distance %}
      <div class="stats-section--wrapper">
        <div class="stats-section--stat">
          <h3>Distance Walked</h3>
          <p><span>{{total_distance}} </span>Miles</p>
          </div>
          <div class="stats-section--stat">
            <h3>Elevation Climbed</h3>
            <p><span>115,000</span> Feet</p>
          </div>
          <div class="stats-section--stat">
            <h3>No of Walks</h3>
            <p><span>{{route_count}}</span></p>
          </div>
        </div>
        <div class="button-wrapper">
        <a href="{% url 'route_create' %}" class=>Add a Walk</a>
        <a href="{% url 'my_walks' %}" class=>View My Walks</a>
        </div>
        {% else %}
        <div class="stats-section--wrapper"></div>
        <div class="stats-section--stat">
          <h3>Distance</h3>
          <p><span>630</span>Miles</p>
        </div>
        <div class="stats-section--stat">
          <h3>Total Elevation</h3>
          <p><span>115,000</span> Feet</p>
        </div>
        <div class="stats-section--stat">
          <h3>No of Gates</h3>
          <p><span>880</span></p>
        </div>
      </div>
        {% endif %}
      
    </div>
  </section>
  <section class="section featured-walks">
    <h2 class="featured-walks--heading mb-xxxl">Featured Walks</h2>
    <div class="featured-walks--grid container container-wide">
      <!-- Loop through the featured walks -->
      {% for walk in walks %}
      <div class="featured-walks--walk">
        <img src="{{ walk.featured_img }}" alt="{{ walk.title }}" />
        <div class="featured-walks--content">
          <h3>{{ walk.title }}</h3>
          <p>{{ walk.content_excerpt }}</p>
          <a href="{% url 'walk_detail' walk.slug %}">View Walk</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
