{% extends 'base.html' %} 
{% load static %}
{% block content %}
<header class="hero">
  <h1>Walk South West</h1>
  <p>
    Explore the South West Coast Path your way. Perfect for weekend wanderers
    and day-trippers, track your progress as you gradually discover all 630
    miles of Britain's most breathtaking coastal trail. 
  </p>
  {% if user.is_authenticated%}
  <div class="button-wrapper">
    <a href="{% url 'my_walks' %}" class="btn">My Walks</a>
    <a href="{% url 'route_create' %}" class="btn btn--outline">Add Route</a>
  </div>
  {% else %}
  <div class="button-wrapper">
    <a href="{% url 'account_login' %}" class="btn">Log In</a>
    <a href="{% url 'account_signup' %}" class="btn btn--outline">Sign Up</a>
  </div>
  {% endif %}
</header>
<main class="home-page">
  <section class="section intro-section ">
    <div class="container container-wide">
      <h2 class="intro-section--heading mb-xxl">Discover the South West Coast Path</h2>
      <div class="intro-section--wrapper flex">
        <div class="intro-section--img box-shadow">
      <img
        src="{% static 'images/coast-path-sign.webp' %}"
        alt="A hiker on the South West Coast Path"
        class="intro-section--img"/></div>
      <div class="intro-section--content">
        <p class="intro-section--intro">
          Welcome to Walk Sout West - your companion for exploring the magnificent South West Coastal Path.
        </p>
        <p class="intro-section--intro">
          Stretching 630 miles from Minehead in Somerset to Poole Harbour in Dorset, the South West Coast Path is Britain's longest National Trail. This spectacular route winds through four counties, offering breathtaking views of rugged cliffs, hidden coves, charming fishing villages, and wild moorland.
        </p>
        <p class="intro-section--intro">
          We understand that tackling the entire path in one go isn't practical for most people – it typically takes 7-8 weeks to complete the full trail. That's why Walk South West helps you break down your coastal adventure into manageable sections, allowing you to track your progress over multiple visits and seasons.
        </p>
        <p class="intro-section--intro">
          Whether you're planning a weekend escape, a series of day walks, or working towards completing the entire path piece by piece, our tools help you plan, record, and celebrate every mile of your journey along this stunning coastline.
        </p>
    </div>
  </div>
  </div>
    </div>
  </section>
  <section class="section stats-section" id="stats-section">
    <div class="container ">
      {% if user.is_authenticated %}
      <h2 class="stats-section--heading">Welcome Back {{user}}!</h2>
      <p class="stats-section--intro">
       You have <span>{{distance_left}} </span>miles left to walk 
      </p>
      {% endif %}
      {% if user.is_authenticated and total_distance %}
      <div class="stats-section--wrapper">
        <div class="stats-section--stat">
          <h3>Distance Walked</h3>
          <p><span>{{total_distance}} </span>Miles</p>
          </div>
          <div class="stats-section--stat">
            <h3>Elevation Climbed</h3>
            <p><span>{{total_elevation}}</span> Feet</p>
          </div>
          <div class="stats-section--stat">
            <h3>No of Walks</h3>
            <p><span>{{route_count}}</span></p>
          </div>
        </div>
        <div class="button-wrapper">
        <a href="{% url 'route_create' %}" class=>Add a Walk</a>
        <a href="{% url 'my_walks' %}" class=>View My Walks</a>
        </div>
        {% else %}
        <div class="stats-section--wrapper">
          <div class="stats-section--stat">
            <h3>Distance</h3>
            <p><span>630</span>Miles</p>
          </div>
          <div class="stats-section--stat">
            <h3>Total Elevation</h3>
            <p><span>115,000</span> Feet</p>
          </div>
          <div class="stats-section--stat">
            <h3>No of Gates</h3>
            <p><span>880</span></p>
          </div>
      </div>
        {% endif %}
      
    </div>
  </section>
  <section class="section featured-walks">
    <h2 class="featured-walks--heading mb-xxxl">Featured Walks</h2>
    <div class="featured-walks--grid container container-wide">
      <!-- Loop through the featured walks -->
      {% for walk in walks %}
      <div class="featured-walks--walk box-shadow--small">
        <img src="{{ walk.featured_img }}" alt="{{ walk.title }}" />
        <div class="walks--info">
          <p>{{ walk.distance }} miles</p>
          <p>|</p>
          <p>{{ walk.difficulty }}</p>
        </div>
        <div class="featured-walks--content">
          <h3>{{ walk.title }}</h3>
          <p>{{ walk.content_excerpt }}</p>
          <a class="link-underline link-underline--secondary" href="{% url 'walk_detail' walk.slug %}">View Walk</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="{% url 'walks' %}" class=" featured-walks--link link-underline link-underline--secondary">View All Walks</a>
  </section>
</main>
{% endblock %}
